{{setPageTitle "RSVP"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/rsvp.css"}}

<div class="l-contain">
    <h1>RSVP for Our Wedding</h1>

    <p class="callout">
        To respond to your invitiation to our wedding, you’ll need to follow the special link which was mailed to you. Email <a href="mailto:matt@mattgarnes.com">Matt</a>
        if you didn't receive it.
    </p>
</div>
