{{setYUIModule "le-home"}}
{{setDescription "Katie Wilson & Matt Garnes are getting married on August 13th, 2016 in Bridgton, Maine."}}
{{addCSS "/css/home.css"}}

<h1 class="ann">
    <span class="ann-primary">Katie Wilson</span>
    <span class="ann-secondary ann-sep">&amp;</span>
    <span class="ann-primary">Matt Garnes</span>
</h1>

<ol class="timeline l-grid">
  {{#event "Getting Married"
        time   = "August 15, 2016"
        photo  = "/photos/married.jpg"
        alt    = "Photo of Katie and Matt in Hawaii."}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Katie and Matt are getting married this Summer in Bridgton, Maine at the <a href="http://noblehousebb.com/">Noble House Inn</a>.
    </p>

    <p class="button-wedding">
        <a class="button" data-icon="i" href="/wedding/">See Wedding Details</a>
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Juneau who got engaged?!"
        time  = "September 8, 2014 @ 7PM"
        photo = "/photos/engaged.jpg"
        alt   = "Photo of Katie and Matt in Juneau, AK"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        On a romantic cruise to Alaska, Katie and Matt became engaged on the deck of the ship at sunset (swoon!). They celebrated the rest of the trip in frosty, Alaskan
        bliss.
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Moved to Seattle"
        time   = "September, 2013"
        map = "mattgmg1990.0217an2c"
        mapZoom = "6"}}

    {{> event/header}}
    {{> event/map}}

    <p>
        Katie got into the Biostatistics PhD program at the University of Washington and couldn't be more excited to attend after she graduated Northeastern! Matt decided
        to come along for the ride and got a job at Samsung in Bellevue, WA. They packed up the car and drove the whole way there, stopping at some beautiful places along
        the way!
    </p>

    {{> event/time}}
  {{/event}}

  <li class="timeline-events">
        <ol class="l-grid">
          {{#event "Moved to Boston from Millbury to Attend NU"
                who  = "matt"
                time = "September 2008"
                map  = "mattgmg1990.omj086b7"
                mapZoom = "6"}}

            {{> event/header}}
            {{> event/map}}

            <p>
                Matt decided to attend Northeastern University in Boston, MA after graduating high school in Millbury, MA to study computer science.
            </p>

            {{> event/time}}
          {{/event}}

          {{#event "Moved to Boston from Rumson to Attend NU"
                who  = "katie"
                time = "September 2008"
                map  = "mattgmg1990.olkploik"
                mapZoom = "6"}}

            {{> event/header}}
            {{> event/map}}

            <p>
                Katie decided to attend Northeastern Univeristy in Boston, MA after graduating high school in Rumson, NJ to study math and biology.
            </p>

            {{> event/time}}
          {{/event}}
        </ol>
    </li>
    <li class="timeline-events">
        <ol class="l-grid">
          {{#event "Matt is born"
                who  = "matt"
                time = "June 10th, 1990"}}

            {{> event/header}}

            <p>
                Eager to join Katie, Matt enters the world on June 10th, 1990 in Worcester, MA.
            </p>

            {{> event/time}}
          {{/event}}

          {{#event "Katie is born"
                who  = "katie"
                time = "May 17th, 1990"}}

            {{> event/header}}

            <p>
                Matt enters the world on May 17th, 1990 in Rumson, NJ.
            </p>

            {{> event/time}}
          {{/event}}
        </ol>
    </li>
</ol>
