{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Wedding Registry</h1>

    <p>
        Please don't feel obligated to give us a gift, but if you would like to, we have created some registries with Amazon and Williams Sonoma. If you
        decide to ship a gift to us, please don't worry about adding gift wrap. We'd prefer you save the money and paper :)
    </p>

    <p>
        We're flying in from Seattle, as you might know, so we won't be able to easily take many gifts back with us. In addition, we plan on moving back to the east coast
        in a couple years. So, we've created two registries. One where the gifts will be shipped to Seattle where we can use the gifts right away, and one where the gifts will
         be shipped to New Jersey, where Katie's parents will hold the gifts until we find our forever home :)
    </p>

    <h2>Registry Shipping to Seattle</h2>
    <p>Temporarily, we are removing our registry page shipping to Seattle, while we attend the wedding and our honeymoon! We'll add it back when we return :)</p>

    <!--
        <div class="l-grid-u-full">
            <div class="l-grid-contain" style="margin-top: 20px;">
                <a href="https://www.amazon.com/wedding/registry/FAKK9QM3MLEP">
                    <img style="align: center; display: block; margin: auto; width: 250px; height: 50px;" src="/img/amazon.png">
                </a>
            </div>
        </div>
    -->

    <h2>Registries Shipping to New Jersey</h2>
    <div class="l-grid-u-full">
        <div class="l-grid-contain" style="margin-top: 20px;">
            <a href="https://www.amazon.com/wedding/matt-garnes-katie-wilson-bridgton-august-2016/registry/14UIPLACOUD57">
                <img style="align: center; display: block; margin: auto; width: 250px; height: 50px;" src="/img/amazon.png">
            </a>
        </div>
    </div>
    <div class="l-grid-u-full">
        <div class="l-grid-contain" style="margin-top: 20px;">
            <a href="https://secure.williams-sonoma.com/registry/mgp959hhlb/registry-list.html">
                <img style="align: center; display: block; margin: auto; width: 250px; height 100px;" src="/img/williams-sonoma.png">
            </a>
        </div>
    </div>
</div>
