{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Wedding Registry</h1>

    <p>
        Please don't feel obligated to give us a gift, but if you would like to, we are registered at <a href="https://www.amazon
        .com/wedding/registry/FAKK9QM3MLEP">Amazon</a> and <a href="https://secure.williams-sonoma.com/registry/mgp959hhlb/registry-list.html">Williams Sonoma</a>.
    </p>

    <div class="l-grid-u-full">
        <div class="l-grid-contain" style="margin-top: 20px;">
            <a href="https://www.amazon.com/wedding/registry/FAKK9QM3MLEP">
                <img style="align: center; display: block; margin: auto;" src="/img/amazon.png">
            </a>
        </div>
    </div>
    <div class="l-grid-u-full">
        <div class="l-grid-contain" style="margin-top: 20px;">
            <a href="https://secure.williams-sonoma.com/registry/mgp959hhlb/registry-list.html">
                <img style="align: center; display: block; margin: auto;" src="/img/williams-sonoma.png">
            </a>
        </div>
    </div>
</div>
