{{setPageTitle "Hotels Near Wedding"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="hotels"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Staying Near Our Wedding</h1>

    <p>
        We’ve reserved a rooms at a few hotels nearby. See below for details. In addition, Matt's parents also have a small amount of extra space in the condo they are
        renting.
        Please
        feel free to
        ask <a href="mailto:matt@mattgarnes.com">Matt</a> or <a href="mataza73@gmail.com">Vicky</a> about this. <a href="https://www.vrbo.com/245">Here is the description
         of
        the condo. </a>
    </p>

    <p class="callout">
        You should <b>call the hotels to make a reservation</b>, their websites may show they are reduced availability because of our room blocks.
    </p>

    <h2>Garnes' Condo Reservation</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="https://www.vrbo.com/245">VRBO Description of Condo</a></li>
                <li><b>Phone:</b> 508-865-0112 (Garnes Residence)</li>
                <li>3 nights: Friday 8/19 through Saturday 8/21
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                    (Exact address to be posted later)<br>
                    Bridgton, ME 04009
                </a>
            </address>
        </div>
    </div>

    <h2>Highland Lake Resort</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.highlandlakeresort.com/">highlandlakeresort.com</a></li>
                <li><b>Phone:</b> 207-647-5301</li>
                <li>2 rooms reserved under "Vicky Garnes"</li>
                <li>2 nights: Friday 8/19 and Saturday 8/20
                <li> Regular rooms (two double beds in each)</li>
                <li>$155 per night</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://goo.gl/maps/7vq6e28NKaU2">
                    115 N High St<br>
                    Bridgton, ME 04009
                </a>
            </address>
        </div>
    </div>

    <h2>Pleasant Mountain Inn</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.pleasantmountaininn.com/">pleasantmountaininn.com</a></li>
                <li><b>Phone:</b> (207) 647-4505</li>
                <li><b>We were not able to reserve these rooms without full payment, so please call soon. The inn said that these rooms could become
                       sold out in the next couple of weeks.</b></li>
                <li>As of 7/10/16 there were 4 budget ($100/night) rooms with 1 queen sized bed available Friday and/or Saturday night</li>
                <li>As of 7/10/16 there were 2 ($116/night) rooms with 2 queen sized beds available Friday and/or Saturday night</li>
                <li>As of 7/10/16 there were 1 ($128/night) room with 2 queen sized beds available Friday and/or Saturday night</li>
                <li>As of 7/10/16 there were 2 ($143/night) rooms with 2 queen sized beds and a deck available Friday and/or Saturday night</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://goo.gl/maps/CE3MRs9jdDT2">
                    655 N High St<br>
                    Bridgton, ME 04009
                </a>
            </address>
        </div>
    </div>

    <h2>Admiral Peary Inn</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.admiralpearyinn.com/amenities.htm">admiralpearyinn.com</a></li>
                <li><b>Phone:</b> 207-935-1269</li>
                <li><b>We were not able to reserve these rooms without full payment, so please call soon.</b></li>
                <li>As of 7/10/16 the Tuscany ($139/night) room was available Friday and/or Saturday night</li>
                <li>As of 7/10/16 the Panama ($149/night) room was available Friday and/or Saturday night</li>
                <li>As of 7/10/16 the Oriental ($189/night) room was available Friday and/or Saturday night</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://goo.gl/maps/pcZKtJvkhH72">
                    27 Elm St<br>
                    Fryeburg, ME 04037
                </a>
            </address>
        </div>
    </div>

    <h2>Quinn's Jockey Cap Country Store and Motel</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.quinnsjockeycap.com/">quinnsjockeycap.com</a></li>
                <li><b>Phone:</b> 207-935-1269</li>
                <li>This appears to be your most affordable option in the area, at only $79 a night!
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://goo.gl/maps/XvWkn2odm2p">
                    116 Bridgton Rd<br>
                    Fryeburg, ME 04037
                </a>
            </address>
        </div>
    </div>
    <!--

    <h2>Bartlett Pear Inn</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://bartlettpearinn.com/">bartlettpearinn.com</a></li>
                <li><b>Phone:</b> 410-770-3300</li>
                <li>7 rooms, entire Inn blocked</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=28+South+Harrison+Street+Easton,+MD+21601">
                    28 South Harrison Street<br>
                    Easton, MD 21601
                </a>
            </address>
        </div>
    </div>

    <h2>The Bishop’s House</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://bishopshouse.com/">bishopshouse.com</a></li>
                <li><b>Phone:</b> 410-820-7290</li>
                <li>4 of 5 rooms blocked</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=214+Goldsborough+Street+Easton,+MD+21601">
                    214 Goldsborough Street<br>
                    Easton, MD  21601
                </a>
            </address>
        </div>
    </div>

    <div class="break"></div>

    <p>
        The following are some other recommendations in the area, but we were <b>unable blocks rooms</b> at these hotels:
    </p>

    <h2>Holiday Inn Express</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.hiexpress.com/hotels/us/en/easton/easex/hoteldetail">Website</a></li>
                <li><b>Phone:</b> 410-819-6500</li>
                <li>
                    <em>No rooms blocked</em>, rooms are expected to become available <em>after</em> <strong>September 5th</strong>.
                </li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=8561+Ocean+Gateway+Easton,+MD+21601">
                    8561 Ocean Gateway<br>
                    Easton, Maryland 21601
                </a>
            </address>
        </div>
    </div>

    <h2>Easton’s Promise</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.eastonspromise.com/">eastonspromise.com</a></li>
                <li><b>Phone:</b> 410-820-1959</li>
                <li><em>No rooms blocked</em>, Bed &amp; Breakfast</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=107+Goldsborough+Street+Easton,+MD+21601">
                    107 Goldsborough Street<br>
                    Easton, Maryland 21601
                </a>
            </address>
        </div>
    </div>
    -->
</div>
