{{setPageTitle "Traveling to Wedding"}}
{{setActiveNav "logistics"}}

<div class="l-contain">
  {{#subnav "logistics"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Traveling to Our Wedding</h1>

    <p>
        Most guests will be driving to our wedding from nearby areas. Please see the handy reference below for approximate driving times.
        If you have other questions, please email <a href="mailto:matt@mattgarnes.com">Matt</a>.
    </p>

    <h2>Driving from Rumson, NJ</h2>
    <p><img style="width: 400px; height: 300px;" src="/photos/rumson.jpg"/></p>
    <p>Driving to Bridgton from lovely Rumson will take around seven hours. See <a href="https://goo.gl/maps/DbRGgaTJab42">here</a> for directions.</p>
    <h2>Driving from Boston, MA</h2>
    <p><img style="width: 400px; height: 300px;" src="/photos/boston.jpg"/></p>
    <p>Driving to Bridgton from beantown will take around two and half hours. See <a href="https://goo.gl/maps/kebBDyowUnu">here</a> for directions.</p>
    <h2>Driving from Millbury, MA</h2>
    <p><img style="width: 400px; height: 300px;" src="/photos/millbury.jpg"/></p>
    <p>Driving to Bridgton from scenic Millbury will take around three hours. See <a href="https://goo.gl/maps/ytTaCPDReMT2">here</a> for directions.</p>
</div>
